:root {
  --flexoki-text             : #100F0F;
  --flexoki-text-muted       : #6F6E69;
  --flexoki-text-faint       : #B7B5AC;
  --flexoki-ui               : #E6E4D9;
  --flexoki-ui-hover         : #DAD8CE;
  --flexoki-ui-active        : #CECDC3;
  --flexoki-bg               : #FFFCF0;
  --flexoki-bg-secondary     : #F2F0E5;
  --flexoki-red              : #AF3029;
  --flexoki-red-secondary    : #D14D41;
  --flexoki-orange           : #BC5215;
  --flexoki-orange-secondary : #DA702C;
  --flexoki-yellow           : #AD8301;
  --flexoki-yellow-secondary : #D0A215;
  --flexoki-green            : #66800B;
  --flexoki-green-secondary  : #879A39;
  --flexoki-cyan             : #24837B;
  --flexoki-cyan-secondary   : #3AA99F;
  --flexoki-blue             : #205EA6;
  --flexoki-blue-secondary   : #4385BE;
  --flexoki-purple           : #5E409D;
  --flexoki-purple-secondary : #8B7EC8;
  --flexoki-magenta          : #A02F6F;
  --flexoki-magenta-secondary: #CE5D97;

}
.dark {
  --flexoki-text             : #CECDC3;
  --flexoki-text-muted       : #878580;
  --flexoki-text-faint       : #575653;
  --flexoki-ui               : #282726;
  --flexoki-ui-hover         : #343331;
  --flexoki-ui-active        : #403E3C;
  --flexoki-bg               : #100F0F;
  --flexoki-bg-secondary     : #1C1B1A;
  --flexoki-red              : #D14D41;
  --flexoki-red-secondary    : #AF3029;
  --flexoki-orange           : #DA702C;
  --flexoki-orange-secondary : #BC5215;
  --flexoki-yellow           : #D0A215;
  --flexoki-yellow-secondary : #AD8301;
  --flexoki-green            : #879A39;
  --flexoki-green-secondary  : #66800B;
  --flexoki-cyan             : #3AA99F;
  --flexoki-cyan-secondary   : #24837B;
  --flexoki-blue             : #4385BE;
  --flexoki-blue-secondary   : #205EA6;
  --flexoki-purple           : #8B7EC8;
  --flexoki-purple-secondary : #5E409D;
  --flexoki-magenta          : #CE5D97;
  --flexoki-magenta-secondary: #A02F6F;

}
