@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 100% 90%;
    --foreground: 0 0% 10%;
    --card: 45 100% 80%;
    --card-foreground: 0 0% 15%;
    --popover: 60 100% 95%;
    --popover-foreground: 0 0% 20%;
    --primary: 22 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 15 100% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 45 100% 90%;
    --muted-foreground: 0 0% 20%;
    --accent: 30 100% 60%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 85%;
    --input: 0 0% 100%;
    --ring: 22 100% 50%;
    --chart1: 22 100% 50%;
    --chart2: 45 100% 50%;
    --chart3: 0 100% 50%;
    --chart4: 15 100% 40%;
    --chart5: 30 100% 60%;

    --radius: 0.5rem;
    --space: 0.25rem;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;
    --card: 15 0% 20%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 90%;
    --primary: 22 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 15 100% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 15 63.93442622950819% 21.55333333333333%;
    --muted-foreground: 0 0% 80%;
    --accent: 45 100% 70%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 30%;
    --input: 0 0% 15%;
    --ring: 22 100% 50%;
    --chart1: 22 100% 60%;
    --chart2: 45 100% 60%;
    --chart3: 0 100% 60%;
    --chart4: 15 100% 50%;
    --chart5: 30 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  .custom-shadow {
    box-shadow:
      0 0 10px 0 hsl(var(--background) / 0.8),
      0 0 30px 10px hsl(var(--background) / 0.6),
      0 0 60px 20px hsl(var(--background) / 0.4),
      0 0 100px 40px hsl(var(--background) / 0.2);
  }
}

.cl-modalBackdrop {
  align-items: center !important;
}
